#root {
  display: flex;
  justify-content: center;
}

ul {
  padding-inline-start: unset;
}

li {
  list-style-type: none;
}

li.selected {
  background: #cae2ff;
}

input[type="checkbox"] {
  margin-right: 1em;
}
